header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  background: var(--primary-color);
  border-bottom: 1px solid var(--secondary-color);
  .logo {
    a {
      img {
        width: 120px;
      }
    }
  }
  .navigation {
    ul {
      display: block;
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline;
        margin-right: 15px;
        a {
          color: var(--tertiary-color);
          text-decoration: none;
        }
      }
    }
  }
}
