/* You can add global styles to this file, and also import other style files */
@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import "../node_modules/primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  /************ Custom Properties ***********/
  /* Main Color */
  --primary-color: #212121;
  /* Secondary Color */
  --secondary-color: #373838;
  /* Secondary Color Modified */
  --secondary-color-m: #716f74;
  /* tertiary color */
  --tertiary-color: #790909;
  /* tertiary color modified */
  --tertiary-color-m: #ffffff;

    /* tertiary color */
  --tertiary-color-s: #cc0000;

  --tertiary-color-z: #f53b3e;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
  font-weight: 400;
  font-size: 1.75rem;
  background-color: var(--secondary-color);
}
a {
  color: #fff;
  text-decoration: none;
}
h1 {
  font-weight: 400;
}
.container {
  margin: 0.5rem;
  padding: 0.5rem;
}

/* .p-paginator */
.p-paginator{
    background-color: var(--primary-color)!important;
}